#chat {
	position: fixed; 
    bottom: 0; 
   	width: 100%;
   	height: 20%;
	overflow: hidden;
	border-top:solid;
	border-width:1px;
}

#chatlog{
	max-height: 100px;
	overflow: auto;
	pointer-events: none;
}

#msgInput{
	bottom: 0;
	position: absolute;
}