#chat {
	position: fixed; 
    bottom: 0; 
   	width: 100%;
	overflow: hidden;
	border-top:solid;
	border-width:1px;
}

#chatlog{
	min-height: 100px;
	height: 20%;
	max-height: 100px;
	overflow: auto;
	pointer-events: none;
}