#chat {
    bottom: 0; 
   	width: 250px;
   	height: 100%;
}

#chatTools {
	border-top: solid 1px #BEBEBE;
	bottom: 0;
	position: absolute;
	width: 100%;
}

#generalInfo {
	height: 40px;
	margin: 5px;
}

#chatlog {
	max-height: calc(100% - 40px - 40px);
 	color: #76879b;
    font-size: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

#msgInput {
	width: calc(100% - 95px);
}

#postmsg {
	right: 10px;
	width: 70px;
}