#list1 {
  list-style: none;
  padding-left: 10px;
}
#list1 li {
  background: #e6e6e6;
  padding: 0 10px;
  overflow: hidden;
  margin-bottom: 2px;
  line-height: 2.5;
  margin-right: 10px;

  /* Disable Text Selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#list1 li:hover {
  background: #ccc;
}

.details{
  display:none;
  line-height: 1.4;
  padding-bottom: 10px;
}

.usercount{
  float: right;
}

.owner{
  float: right;
}

#list1 li {
  transition: background 0.2s ease;
}
#list1 li.open {
  background: #bffd99;
}
#list1 li.open:hover {
  background: #aeec88;
}
#list1 li.open .title {
  font-weight: bold;
}

#name, #logout{
  float: right;
  margin-right: 10px;
  margin-bottom: 0px;
}

.errormsg{
  color: red;
}

.openinput{
  width:100%;
}

#description{
  height:100px;
}

#openroom{
  position: absolute;
  top: 0;
}

#lobby{
  position: relative;
  height: 80%;
  width: calc(100% - 250px);
}

#games{
  overflow-x: auto;
}

html, body{
  width: 100%;
  height: 100%;
}

.no-close .ui-dialog-titlebar-close {display: none }
