body { 
  background: url(/img/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
    color: white;
}

td {
    color: white;
}

#outerCanvas {
    width: calc(100% - 250px - 120px);
    margin-left: 120px;
}
#canvas {
    margin: auto; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    z-index: 1;

    /* pixel zooming */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#toolbar {
    position: fixed;
    margin-left: 7px;
}

#timeOutMessage {
    display: none;
    color: red;
}

.blink {
  color:red;
  animation: blink 0.5s steps(5, start) infinite;
  -webkit-animation: blink 0.5s steps(5, start) infinite;
}

@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}
 
div#sidebar {
    background-color: #D3D3D3;
    width:250px;
    height: 100%;
    right: 0;
    border-left: solid 1px #BEBEBE;

    position: fixed;
    z-index: 1;
    -webkit-transition: -webkit-transform 500ms, right 500ms;
}

input {
    outline: none;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: none;
}