div#sidebar {
    background-color: blue;
    color: white;
    display: block;
    width:250px;
    height: 100%;

    right: 0;

    position: fixed;
    -webkit-transition: -webkit-transform 500ms, right 500ms;
}

@media screen and (max-width: 1500px) {
    div#sidebar {
        right: -230px;
    }

    div#sidebar:hover {
        -webkit-transform: translateX(-230px);
    }
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
